.result-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

.info-text {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #333333;
  text-align: center;
  margin-bottom: 32px;
}

.button-row-container {
  display: flex;
  justify-content: space-around;
}
