.dialog-form {
  padding: 24px;
  min-width: 200px;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 8px;

  font-size: 1.4rem;
  font-weight: 500;

  .dialog-title {
    grid-column: span 2;
  }

  .label.required::after {
    content: ' *';
    color: #e83e3e;
  }

  h2 {
    margin: 0;
  }

  .uri-value {
    display: flex;
    align-items: center;
    gap: 8px;

    p {
      max-width: 400px;
    }

    a {
      max-width: 460px;
    }

    fa-icon:first-of-type {
      margin-left: auto;
    }

    input.document-uri-valid {
      border: 2px solid #25B289;
    }

    input.document-uri-invalid {
      border: 2px solid #e83e3e;
    }
  }

  .j-common-input {
    flex: 1 1 auto;
  }

  .button-row-container {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
  }
}

.no-template {
  margin: 0 auto;
  padding: 24px;
}
