<!--<form [formGroup]="form" class="dialog-form">-->
<!--  <h2 class="dialog-title">Edit tree node</h2>-->

<!--  <p class="label required">Name</p>-->
<!--  <input class="j-common-input" formControlName="name" placeholder="Node name" />-->

<!--  <p class="label required">Content</p>-->
<!--  <input class="j-common-input" formControlName="content" placeholder="Node content" />-->


<!--  <div class="button-row-container">-->
<!--    <button class="j-common-button" (click)="submit()" [disabled]="form.invalid">-->
<!--      <span>Generate</span>-->
<!--    </button>-->
<!--    <button class="j-common-button border-only cancel-button" (click)="close()">-->
<!--      <span>Cancel</span>-->
<!--    </button>-->
<!--  </div>-->
<!--</form>-->
