$workflex-white: #fff;
$workflex-black: #000;

$workflex-very-light-grey: #efefef;
$workflex-light-grey: #dcdcdc;
$workflex-disabled-gray: #a3aabc;
$workflex-dark-blueish-grey: #818a91;

$workflex-ice-blue: #E9ECF5;
$workflex-very-light-blue: #77a5e74f;
$workflex-light-blue: #77a5e7;
$workflex-blue: #001dff;
$workflex-very-dark-blue: #001299;

$workflex-ice-red: #F5ECE9;
$workflex-medium-red: #e83e3e;
$workflex-bug-red: #dc3545;

$workflex-green: #00c389;
